<!DOCTYPE html>
<html>
    <head>
        <title>Shop Name Here | Store</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="CSS/styles.css" />
        <script src="store.js" defer></script>
    </head>
    <body>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="/account">ACCOUNT</a></li>
                    <li><a href="/store">STORE</a></li>
                </ul>
            </nav>
            <h1 class="shop-name shop-name-large">Shop Name Here</h1>
        </header>
        <section class="container content-section">
            <h2 class="section-header">MUSIC</h2>
            <div class="shop-items">
                <% items.music.forEach(function(item){ %>
                    <div class="shop-item" data-item-id="<%= item.id %>" data-item-quantity="<%= item.quantity %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">MERCH</h2>
            <div class="shop-items">
                <% items.merch.forEach(function(item){ %>
                    <div class="shop-item" data-item-id="<%= item.id %>" data-item-quantity="<%= item.quantity %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-information">
                <div class="cart-delivery">
                    <div>
                        <input class="cart-delivery-method" id="delivery" name="shipping" type="radio" checked=true>
                        <label class="cart-delivery-method" for="delivery" >Delivery ($3)</label>
                    </div>
                    <div>
                        <input class="cart-delivery-method" id="pick-up" name="shipping" type="radio">
                        <label class="cart-delivery-method" for="pick-up">Pick-Up</label>
                    </div>
                </div>
                <% if(membershipFee){ %>
                <div class="cart-membership-fee">
                    <strong class="cart-membership-fee">Membership Fee</strong>
                    <span class="cart-membership-fee">$40</span>
                </div>
                <% } %>
                <div class="cart-total">
                    <strong class="cart-total-title">Total</strong>
                    <span class="cart-total-price">$0</span>
                </div>
            </div>
            
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
    </body>
</html>